@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All About Layton";
}



<!--Header with my preferred name-->
<h1>Hi my name is Layton Barney</h1>

<!--Picture of myself-->
<img src="~/img/tennis.jpeg" class="resize img-thumbnail" />
<p>I like to play tennis!!</p>
<br />

<!--what I hope to get out of this class-->
<p>This semester I hope to get a better understanding of backend web development. I also hope that learning C# and ASP.NET will make it even easier to learn other new languages.</p>

<!--List of jobs I would like to pursue when I graduate-->
<h2>Jobs I would like to purse when I graduate</h2>

<ul>
    <li>Build some sort of blockchain platform</li>
    <li>Design an automated crane that speeds up time removing crates from ships</li>
    <li>Create a subscription service for restaurants that uses ML to increase revenue and push advertisements</li>
</ul>




